
.left
	float: left
.right
	float: right
.onTop
	z-index: 999!important

body
	font-family: Jura
	margin: 0px
	padding: 0px
	color: #fff

h1, h2, h3, h4, h5
	+reset
	font-weight: normal

h1, h2, h3
	font-family: $slides-font-title
	text-shadow: 0 0 3px #333
	color: #eee

a
	color: #141927
